EH_SITE=e-hentai
NW=1
DATATAGS=1
EH_PROFILE=PandaOPDS
PUBLIC_BASE_URL=
HTML_INTERVAL_SECONDS=0.3
MAX_CONCURRENCY=5
IMAGE_MAX_CONCURRENCY=5
THUMB_MAX_CONCURRENCY=25
IPB_MEMBER_ID=
IPB_PASS_HASH=
AUTH_USERNAME=
AUTH_PASSWORD=
AUTH_EXEMPT_PATHS=/image/fetch
AUTH_EXEMPT_PREFIXES=
IMAGE_PROXY_HOSTS=ehgt.org,s.exhentai.org
IGNEOUS=
FACETS=Doujinshi:1021,Manga:1019,Artist CG:1015,Game CG:1007,Western:991,Non-H:959,Image Set:895,Cosplay:767,Asian Porn:511,Misc:1022
LIST_CACHE_TTL_SECONDS=600
DETAIL_CACHE_TTL_SECONDS=3600
IMAGE_CACHE_TTL_SECONDS=604800
OPDS_ACQ_DETAIL=false
TAG_STATUS_FILTER=balanced
COMMENTS_ENABLED=true
TAG_TRANSLATION_ENABLED=false
TAG_TRANSLATION_URL=https://github.com/EhTagTranslation/Database/releases/latest/download/db.text.json
TAG_TRANSLATION_INTERVAL_SECONDS=86400
MYTAGS_TTL_SECONDS=21600
HOME_CONFIG_TOML=